.loading__container {
  display: flex;
  align-items: center;
  margin: auto;
  height: 100vh;
}

.loading__container img {
  height: 120px;
  width: 120px;
  margin-right: 20px;
}

.loading__container h1 {
  margin: 0;
  font-family: "Alata", sans-serif;
  font-family: "DM Sans", sans-serif;
}
